USE [master]
GO
/****** Object:  Database [StudentEnrollmentDb]    Script Date: 6/3/2026 9:20:15 PM ******/
CREATE DATABASE [StudentEnrollmentDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentEnrollmentDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StudentEnrollmentDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentEnrollmentDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\StudentEnrollmentDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentEnrollmentDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentEnrollmentDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/3/2026 9:20:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/3/2026 9:20:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NOT NULL,
	[Programme] [nvarchar](max) NOT NULL,
	[EnrollmentStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260603113150_InitialMigration', N'10.0.2')
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [StudentName], [Programme], [EnrollmentStatus]) VALUES (1, N'John Tan', N'Software Engineering', N'Active')
INSERT [dbo].[Students] ([Id], [StudentName], [Programme], [EnrollmentStatus]) VALUES (2, N'Nur Aisyah', N'Data Science', N'Pending')
INSERT [dbo].[Students] ([Id], [StudentName], [Programme], [EnrollmentStatus]) VALUES (3, N'Lim Wei Jian', N'Information Systems', N'Active')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
USE [master]
GO
